<h1> Here's how your day went... </h1>
<%= @outcome.description %>

<% if @outcome.lane == 'dev'%>
<h1><%= @outcome.points %> Work Credits </h1>
<% end %>
<br/>
<%= link_to "Work on a story", work_on_a_story_play_path(:outcome_index => @outcome_index, :test_index => @test_index) %>
<%= link_to "Test a story", work_on_a_story_play_path(:lane => 'test', :test_index => @test_index, :outcome_index => @outcome_index) %>
<%= link_to "Rules", play_index_path %>
  
  
  

