.outcome
  %h1 How was your day?
  = @outcome.description
  %h1 Work Credits
  = @outcome.points

.links
  = link_to "Work on a story", work_on_a_story_play_path
  = link_to "Test a story", work_on_a_story_play_path(:lane => 'test')
  = link_to "Rules", play_index_path

